//- Header containing bread links
section(class=`${sitestructure.page.common.header.class}`)
    div(class=`${sitestructure.page.common.header.div_container.class}`)
        div(class=`${sitestructure.page.common.header.div_container.div_allignment.class}`)
            div(class=`${sitestructure.page.common.header.div_container.div_allignment.div_title.class}`)
                div(class=`${sitestructure.page.common.header.div_container.div_allignment.div_title.breadcrumbs.class}`)
                    include header/bread
                include header/title
                include header/albums
                include header/categories