section(class=`${sitestructure.page.common.header.class}`)
    div(class=`${sitestructure.page.common.header.div_container.class}`)
        div(class=`${sitestructure.page.common.header.div_container.div_allignment.class}`)
            div(class=`${sitestructure.page.common.header.div_container.div_allignment.div_title.class}`)
                h1 #{title}