if config.socialMedia.facebookUrl
  li(class=`${sitestructure.socials.list.item.class}`)
    a(href=config.socialMedia.facebookUrl)
      span(class=`${sitestructure.socials.facebook.class}`)
      
if config.socialMedia.instagramUrl
  li(class=`${sitestructure.socials.list.item.class}`)
    a(href=config.socialMedia.instagramUrl)
      span(class=`${sitestructure.socials.instagram.class}`)

if config.socialMedia.twitterUrl
  li(class=`${sitestructure.socials.list.item.class}`)
    a(href=config.socialMedia.twitterUrl)
      span(class=`${sitestructure.socials.twitter.class}`)
