section(class=`${sitestructure.page.index.section_instagram.class}`)
    div(class=`${sitestructure.page.index.section_instagram.div_container.class}`)
        div(class=`${sitestructure.page.index.section_instagram.div_container.div_header.class}`)
            div(class=`${sitestructure.page.index.section_instagram.div_container.div_header.div_text.class}`)
                h2(class=`${sitestructure.text.header.level4.class}`) Follow me on Instagram
        div(class=`${sitestructure.page.index.section_instagram.div_container.div_images.class}`)
            include instagram/images