div(class=`${sitestructure.page.index.section_instagram.div_container.div_images.div_image.class}`)
    a(href=`img?id=${image.id}&height=${config.images.view.height}&width=${config.images.view.height}` class=`${sitestructure.page.index.section_instagram.div_container.div_images.div_image.link.class}` style=`background-image: url('img?id=${image.id}&height=${config.images.view.height}&width=${config.images.view.height}');`)
        div(class=`${sitestructure.page.index.section_instagram.div_container.div_images.div_image.link.div_overlay.class}`)
            span(class=`${sitestructure.page.index.section_instagram.div_container.div_images.div_image.link.div_overlay.span_overlay_content.class}`)