li
    a(href=`${helper.collectionLinkBuilder(page.url, undefined, undefined, true)}` class=`${sitestructure.page.common.footer.div_footer.div_table.div_table_row.content.images_container.list.item.class}` style=`background-image: url(img?id=${image.id}&height=${config.images.view.thumbnail.height}&width=${config.images.view.thumbnail.height}`)